<%= nav_bar brand: "Tradutor", brand_link: root_path %>
<div class="container">
  <h3>A tradução de <%= @translation.texto_portugues%> é <%=@translation.texto_ingles%></h3>
  <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>
